<h1>Hello World!</h1>

<h2>Posts</h2>

<% @posts.each do |post| %>

	<h3><%= link_to post.title, post %></h3>
	<p><%= post.content %></p>

	<% if post.has_comments? %>
		<p><%= post.latest_comment(post).author %> </p>
		<p><%= post.latest_comment(post).content %> </p>
	<% else %>
		<p>Este žiadne komentáre</p>
	<% end %>

<% end %>

<h3>Add new post</h3>
<%= link_to "Add new post", new_post_path %>
